/* local.css produced by DCL filter dwhtm, Ver 4.1 */

body {
 font-size: 10pt;
 padding: 6pt;
 }

a {
 text-decoration: none;
 }

a:link {
 color: blue;
 }

a:visited {
 color: purple;
 }

.Abstract {
 font: 9pt/10pt Verdana, sans-serif;
 margin-top: 4pt;
 margin-bottom: 2pt;
 margin-left: 48pt;
 color: black;
 }

.Body {
 font: 10pt/12pt Verdana, sans-serif;
 margin-top: 4pt;
 margin-bottom: 0;
 margin-left: 0;
 }

.BookTitle {
 font: bold 16pt/18pt Verdana, sans-serif;
 margin-top: 6pt;
 margin-bottom: 6pt;
 margin-left: 0;
 }

.Bulleted1 {
 font: 10pt/12pt Verdana, sans-serif;
 margin-top: 2pt;
 margin-bottom: 0;
 margin-left: 0;
 }

ul.Bulleted1 {
 margin-left: 18pt;
 padding-left: 12pt;
 list-style: disc;
 }

.Bulleted1L2 {
 font: 10pt/12pt Verdana, sans-serif;
 margin-top: 2pt;
 margin-bottom: 0;
 margin-left: 0;
 }

ul.Bulleted1L2 {
 margin-left: 18pt;
 padding-left: 12pt;
 list-style: disc;
 }

.Bulleted2 {
 font: 10pt/12pt Verdana, sans-serif;
 margin-top: 2pt;
 margin-bottom: 0;
 margin-left: 0;
 }

ul.Bulleted2 {
 margin-left: 18pt;
 padding-left: 12pt;
 list-style: circle;
 }

.cautionNote {
 font: 10pt/12pt Verdana, sans-serif;
 margin-top: 4pt;
 margin-bottom: 0;
 margin-left: 12pt;
 }

.CellBody {
 font: 9pt/11pt Verdana, sans-serif;
 margin-top: 0;
 margin-right: 3pt;
 margin-bottom: 0;
 margin-left: 0;
 vertical-align: top;
 }

.CellHead {
 font: bold 10pt/11pt Verdana, sans-serif;
 margin-top: 0;
 margin-right: 3pt;
 margin-bottom: 0;
 margin-left: 0;
 text-align: left;
 vertical-align: bottom;
 }

.ChapterTitle {
 font: bold 16pt/18pt Verdana, sans-serif;
 margin-top: 6pt;
 margin-bottom: 2pt;
 margin-left: 0;
 }

.ChapterTOC {
 font: bold 11pt/12pt Verdana, sans-serif;
 margin-top: 3pt;
 margin-bottom: 3pt;
 margin-left: 12pt;
 }

.CodePara {
 font: 9pt/11pt "Courier New", monospace;
 margin-top: 3pt;
 margin-bottom: 0;
 margin-left: 12pt;
 }

.ContentsTitle {
 font: bold 12pt/14pt Verdana, sans-serif;
 margin-top: 6pt;
 margin-bottom: 2pt;
 margin-left: 0;
 }

.dangerNote {
 font: 10pt/12pt Verdana, sans-serif;
 margin-top: 4pt;
 margin-bottom: 0;
 margin-left: 12pt;
 color: red;
 }

.DLDefHeadTbl {
 font: bold 10pt/11pt Verdana, sans-serif;
 margin-top: 0;
 margin-right: 3pt;
 margin-bottom: 0;
 margin-left: 0;
 text-align: left;
 vertical-align: bottom;
 }

.DLDefTbl {
 font: 9pt/11pt Verdana, sans-serif;
 margin-top: 0;
 margin-right: 3pt;
 margin-bottom: 0;
 margin-left: 0;
 vertical-align: top;
 }

.DLTermHeadTbl {
 font: bold 10pt/11pt Verdana, sans-serif;
 margin-top: 0;
 margin-right: 3pt;
 margin-bottom: 0;
 margin-left: 0;
 text-align: left;
 vertical-align: bottom;
 }

.DLTermTbl {
 font: 9pt/11pt Verdana, sans-serif;
 margin-top: 0;
 margin-right: 3pt;
 margin-bottom: 0;
 margin-left: 0;
 vertical-align: top;
 }

.FigureAnchor {
 font: 2pt/2pt Verdana, sans-serif;
 margin-top: 4pt;
 margin-bottom: 0;
 margin-left: 0;
 }

.FigureListItem {
 font: normal 11pt/12pt Verdana, sans-serif;
 margin-top: 6pt;
 margin-bottom: 2pt;
 margin-left: 12pt;
 }

.FigureListTitle {
 font: bold 16pt/16pt Verdana, sans-serif;
 margin-top: 6pt;
 margin-bottom: 2pt;
 margin-left: 0;
 }

.FigureTitleC {
 font: bold 10pt/11pt Verdana, sans-serif;
 margin-top: 6pt;
 margin-bottom: 6pt;
 margin-left: 0;
 }

.Footnote {
 font: 8pt/9.5pt Verdana, sans-serif;
 margin-top: 0;
 margin-bottom: 3pt;
 margin-left: 0;
 }

ol.Footnote {
 margin-left: 18pt;
 padding-left: 12pt;
 list-style: decimal;
 }

.GlossaryTitle {
 font: bold 16pt/16pt Verdana, sans-serif;
 margin-top: 6pt;
 margin-bottom: 2pt;
 margin-left: 0;
 }

.GLS {
 font: bold 11pt/12pt Verdana, sans-serif;
 margin-top: 6pt;
 margin-bottom: 3pt;
 margin-left: 12pt;
 }

.Heading1 {
 font: bold 16pt/16pt Verdana, sans-serif;
 margin-top: 6pt;
 margin-bottom: 2pt;
 margin-left: 0;
 }

.Heading1C {
 font: bold 16pt/16pt Verdana, sans-serif;
 margin-top: 6pt;
 margin-bottom: 2pt;
 margin-left: 0;
 }

.Heading1SC {
 font: bold 16pt/16pt Verdana, sans-serif;
 margin-top: 6pt;
 margin-bottom: 2pt;
 margin-left: 0;
 }

.Heading2C {
 font: bold 12pt/14pt Verdana, sans-serif;
 margin-top: 6pt;
 margin-bottom: 2pt;
 margin-left: 0;
 }

.Heading2S {
 font: bold 12pt/14pt Verdana, sans-serif;
 margin-top: 6pt;
 margin-bottom: 2pt;
 margin-left: 0;
 }

.Heading2SC {
 font: bold 12pt/14pt Verdana, sans-serif;
 margin-top: 6pt;
 margin-bottom: 2pt;
 margin-left: 0;
 }

.Heading3SC {
 font: bold 11pt/12pt Verdana, sans-serif;
 margin-top: 6pt;
 margin-bottom: 2pt;
 margin-left: 0;
 }

.Index1 {
 font: 9pt/11pt Verdana, sans-serif;
 margin-top: 3pt;
 margin-bottom: 0;
 margin-left: 0;
 }

.Index2 {
 font: 9pt/11pt Verdana, sans-serif;
 margin-top: 0;
 margin-bottom: 0;
 margin-left: 0;
 }

.Index3 {
 font: 9pt/11pt Verdana, sans-serif;
 margin-top: 0;
 margin-bottom: 0;
 margin-left: 0;
 }

.IndexTitle {
 font: bold 16pt/18pt Verdana, sans-serif;
 margin-top: 6pt;
 margin-bottom: 6pt;
 margin-left: 0;
 }

.IndexTOC {
 font: bold 11pt/12pt Verdana, sans-serif;
 margin-top: 6pt;
 margin-bottom: 3pt;
 margin-left: 12pt;
 }

.LOF {
 font: bold 11pt/12pt Verdana, sans-serif;
 margin-top: 6pt;
 margin-bottom: 3pt;
 margin-left: 12pt;
 }

.LOT {
 font: bold 11pt/12pt Verdana, sans-serif;
 margin-top: 6pt;
 margin-bottom: 3pt;
 margin-left: 12pt;
 }

.Note {
 font: 10pt/12pt Verdana, sans-serif;
 margin-top: 4pt;
 margin-bottom: 0;
 margin-left: 12pt;
 }

.Numbered1 {
 font: 10pt/12pt Verdana, sans-serif;
 margin-top: 4pt;
 margin-bottom: 0;
 margin-left: 2pt;
 }

ol.Numbered1 {
 margin-left: 18pt;
 padding-left: 12pt;
 list-style: decimal;
 }

.Numbered1First {
 font: 10pt/12pt Verdana, sans-serif;
 margin-top: 4pt;
 margin-bottom: 0;
 margin-left: 2pt;
 }

ol.Numbered1First {
 margin-left: 18pt;
 padding-left: 12pt;
 list-style: decimal;
 }

.Numbered2 {
 font: 10pt/12pt Verdana, sans-serif;
 margin-top: 4pt;
 margin-bottom: 0;
 margin-left: 2pt;
 }

ol.Numbered2 {
 margin-left: 18pt;
 padding-left: 12pt;
 list-style: lower-alpha;
 }

.PLDefTbl {
 font: 9pt/11pt Verdana, sans-serif;
 margin-top: 0;
 margin-right: 3pt;
 margin-bottom: 0;
 margin-left: 0;
 vertical-align: top;
 }

.PLTermTbl {
 font: bold 10pt/11pt Verdana, sans-serif;
 margin-top: 0;
 margin-right: 3pt;
 margin-bottom: 0;
 margin-left: 0;
 text-align: left;
 vertical-align: bottom;
 }

.Postreq {
 font: 10pt/12pt Verdana, sans-serif;
 margin-top: 4pt;
 margin-bottom: 0;
 margin-left: 0;
 }

.Prereq {
 font: 10pt/12pt Verdana, sans-serif;
 margin-top: 4pt;
 margin-bottom: 0;
 margin-left: 0;
 }

.RelatedDesc {
 font: 10pt/12pt Verdana, sans-serif;
 margin-top: 4pt;
 margin-bottom: 0;
 margin-left: 18pt;
 color: green;
 }

.RelatedDivider {
 font: 10pt/12pt Verdana, sans-serif;
 margin-top: 4pt;
 margin-bottom: 0;
 margin-left: 0;
 border-bottom: 1pt solid #000000;
 }

.RelatedHead {
 font: bold 10pt/12pt Verdana, sans-serif;
 margin-top: 6pt;
 margin-bottom: 2pt;
 margin-left: 0;
 }

.RelatedTopic {
 font: 10pt/12pt Verdana, sans-serif;
 margin-top: 2pt;
 margin-bottom: 0;
 margin-left: 0;
 }

.Result {
 font: 10pt/12pt Verdana, sans-serif;
 margin-top: 4pt;
 margin-bottom: 0;
 margin-left: 0;
 }

.Shortdesc {
 font: 9pt/10pt Verdana, sans-serif;
 margin-top: 4pt;
 margin-bottom: 2pt;
 margin-left: 48pt;
 color: green;
 }

.SimpleListItem {
 font: 10pt/12pt Verdana, sans-serif;
 margin-top: 2pt;
 margin-bottom: 0;
 margin-left: 12pt;
 }

ol.SimpleListItem, ul.SimpleListItem {
 list-style: none;
 }

.StepInfo1 {
 font: 10pt/12pt Verdana, sans-serif;
 margin-top: 2pt;
 margin-bottom: 0;
 margin-left: -1pt;
 }

ol.StepInfo1 {
 margin-left: 18pt;
 padding-left: 12pt;
 list-style: none;
 }

.StepNumbered {
 font: 10pt/12pt Verdana, sans-serif;
 margin-top: 4pt;
 margin-bottom: 0;
 margin-left: 2pt;
 }

ol.StepNumbered {
 margin-left: 18pt;
 padding-left: 12pt;
 list-style: decimal;
 }

.StepNumberedFirst {
 font: 10pt/12pt Verdana, sans-serif;
 margin-top: 4pt;
 margin-bottom: 0;
 margin-left: 2pt;
 }

ol.StepNumberedFirst {
 margin-left: 18pt;
 padding-left: 12pt;
 list-style: decimal;
 }

.Steps {
 font: bold 10pt/12pt Verdana, sans-serif;
 margin-top: 6pt;
 margin-bottom: 2pt;
 margin-left: 0;
 }

.TableAnchor {
 font: 2pt/2pt Verdana, sans-serif;
 margin-top: 4pt;
 margin-bottom: 0;
 margin-left: 0;
 }

.TableListItem {
 font: normal 11pt/12pt Verdana, sans-serif;
 margin-top: 6pt;
 margin-bottom: 2pt;
 margin-left: 12pt;
 }

.TableListTitle {
 font: bold 16pt/16pt Verdana, sans-serif;
 margin-top: 6pt;
 margin-bottom: 2pt;
 margin-left: 0;
 }

.TableTitleC {
 font: bold 10pt/11pt Verdana, sans-serif;
 margin-top: 6pt;
 margin-bottom: 0;
 margin-left: 0;
 text-align: left;
 }

.TblFootnote {
 font: 8pt/9.5pt Verdana, sans-serif;
 margin-top: 0;
 margin-bottom: 3pt;
 margin-left: 0;
 }

ol.TblFootnote {
 margin-left: 18pt;
 padding-left: 12pt;
 list-style: lower-alpha;
 }

.TOC1C {
 font: normal 10pt/12pt Verdana, sans-serif;
 margin-top: 3pt;
 margin-bottom: 2pt;
 margin-left: 24pt;
 }

.TOC2C {
 font: normal 10pt/12pt Verdana, sans-serif;
 margin-top: 3pt;
 margin-bottom: 2pt;
 margin-left: 36pt;
 }

.TOC4 {
 font: normal 10pt/12pt Verdana, sans-serif;
 margin-top: 3pt;
 margin-bottom: 2pt;
 margin-left: 36pt;
 }

.Unnumbered1 {
 font: 10pt/12pt Verdana, sans-serif;
 margin-top: 2pt;
 margin-bottom: 0;
 margin-left: -1pt;
 }

ol.Unnumbered1 {
 margin-left: 18pt;
 padding-left: 12pt;
 list-style: none;
 }

.warningNote {
 font: 10pt/12pt Verdana, sans-serif;
 margin-top: 4pt;
 margin-bottom: 0;
 margin-left: 12pt;
 }

.Bold {
 font-weight: bold;
 }

.Code {
 font: 9.5pt "Courier New", monospace ;
 }

.Command {
 font-weight: bold;
 }

.Link {
 color: blue;
 }

.ph {
 }

.Red {
 color: red;
 }

.RevisedConref {
 font: 10pt Verdana,serif;
 color: lime;
 }

.ShortdescInline {
 }

.Strong {
 font-weight: bold;
 }

.term {
 }

.Trademark {
 }

table.ParamListTable {
 margin-left: 12pt;
 margin-top: 0;
 border-top: 0 hidden #000000;
 border-bottom: 0 hidden #000000;
 border-left: 0 hidden #000000;
 border-right: 0 hidden #000000;
 }

table.SeaTable {
 margin-left: 0;
 margin-top: 3pt;
 margin-bottom: 6pt;
 border-top: 0 hidden #000000;
 border-bottom: 0 hidden #000000;
 border-left: 0 hidden #000000;
 border-right: 0 hidden #000000;
 }

tr.FooterRow {
 border-top: 0 hidden #000000;
 border-bottom: 1pt solid #808080;
 border-left: 0 hidden #FFFFFF;
 border-right: 0 hidden #FFFFFF;
 }

tr.SeaBodyRow {
 border-top: 0 hidden #000000;
 border-bottom: 0 hidden #000000;
 border-left: 0 hidden #FFFFFF;
 border-right: 0 hidden #FFFFFF;
 background-color: #E1FFFF;
 }

tr.SeaHeaderRow {
 border-top: 0 hidden #000000;
 border-bottom: 0 hidden #000000;
 border-left: 0 hidden #FFFFFF;
 border-right: 0 hidden #FFFFFF;
 background-color: #B3E1E1;
 }

tr.UnruledRow {
 border-top: 0 hidden #000000;
 border-bottom: 0 hidden #000000;
 border-left: 0 hidden #FFFFFF;
 border-right: 0 hidden #FFFFFF;
 }

td.ColHeadCell, th.ColHeadCell {
 vertical-align: bottom;
 padding-left: 2pt;
 padding-right: 2pt;
 padding-top: 1pt;
 padding-bottom: 3pt;
 border-top: 0 hidden #000000;
 border-bottom: 1pt solid #808080;
 border-left: 0 hidden #000000;
 border-right: 0 hidden #000000;
 }

td.SeaColHeadCell, th.SeaColHeadCell {
 vertical-align: bottom;
 padding-left: 2pt;
 padding-right: 2pt;
 padding-top: 1pt;
 padding-bottom: 3pt;
 border-top: 0 hidden #000000;
 border-bottom: 0 hidden #000000;
 border-left: 0 hidden #000000;
 border-right: 0 hidden #000000;
 background-color: #B3E1E1;
 }

td.SeaRowBodyCell, th.SeaRowBodyCell {
 vertical-align: top;
 padding-left: 2pt;
 padding-right: 2pt;
 padding-top: 4pt;
 padding-bottom: 2pt;
 background-color: #E1FFFF;
 }

td.UnruledCell, th.UnruledCell {
 vertical-align: top;
 padding-left: 0;
 padding-right: 2pt;
 padding-top: 0;
 padding-bottom: 0;
 border-top: 0 hidden #000000;
 border-bottom: 0 hidden #000000;
 border-left: 0 hidden #000000;
 border-right: 0 hidden #000000;
 }

.Author {
 font: bold 12pt/14pt Verdana, sans-serif;
 margin-top: 0;
 margin-bottom: 3pt;
 margin-left: 12pt;
 }

.Authsub {
 font: bold 10pt/12pt Verdana, sans-serif;
 margin-top: 4pt;
 margin-bottom: 0;
 margin-left: 12pt;
 }

.Trail {
 font: 10pt/12pt Verdana, sans-serif;
 margin-top: 0;
 margin-bottom: 4pt;
 margin-left: 0;
 }

.Index1 {
 font: 9pt/11pt Verdana, sans-serif;
 margin-top: 3pt;
 margin-bottom: 0;
 margin-left: 0;
 }

.Index2 {
 font: 9pt/11pt Verdana, sans-serif;
 margin-top: 0;
 margin-bottom: 0;
 margin-left: 0;
 }

.Index3 {
 font: 9pt/11pt Verdana, sans-serif;
 margin-top: 0;
 margin-bottom: 0;
 margin-left: 0;
 }

.Index4 {
 font: 9pt/11pt Verdana, sans-serif;
 margin-top: 0;
 margin-bottom: 0;
 margin-left: 0;
 }

.Index5 {
 font: 9pt/11pt Verdana, sans-serif;
 margin-top: 0;
 margin-bottom: 0;
 margin-left: 0;
 }

.Index6 {
 font: 9pt/11pt Verdana, sans-serif;
 margin-top: 0;
 margin-bottom: 0;
 margin-left: 0;
 }

.Index7 {
 font: 9pt/11pt Verdana, sans-serif;
 margin-top: 0;
 margin-bottom: 0;
 margin-left: 0;
 }

.Index8 {
 font: 9pt/11pt Verdana, sans-serif;
 margin-top: 0;
 margin-bottom: 0;
 margin-left: 0;
 }

.Index9 {
 font: 9pt/11pt Verdana, sans-serif;
 margin-top: 0;
 margin-bottom: 0;
 margin-left: 0;
 }

.IndexBase {
 font: 9pt/11pt Verdana, sans-serif;
 margin-top: 0;
 margin-bottom: 0;
 margin-left: 0;
 }

.IndexLetters {
 font: 9pt/11pt Verdana, sans-serif;
 margin-top: 12pt;
 margin-bottom: 0;
 margin-left: 0;
 }

.IndexTopLetters {
 font: 8pt/11pt Arial;
 margin-top: 12pt;
 margin-bottom: 8pt;
 margin-left: 0;
 }

.IndexTOC {
 font: bold 11pt/12pt Verdana, sans-serif;
 margin-top: 6pt;
 margin-bottom: 3pt;
 margin-left: 12pt;
 }

.IndexTitle {
 font: bold 16pt/18pt Verdana, sans-serif;
 margin-top: 6pt;
 margin-bottom: 6pt;
 margin-left: 0;
 }

.IndexEntry {
 font: 10pt/12pt Verdana,serif;
 }

.IndexRef {
 font: 10pt/12pt Verdana,serif;
 }

.IndexTopLetters {
 font: 8pt/11pt Arial;
 margin-top: 12pt;
 margin-bottom: 8pt;
 margin-left: 0;
 }

.IndexLetters {
 font: 9pt/11pt Verdana, sans-serif;
 margin-top: 12pt;
 margin-bottom: 0;
 margin-left: 0;
 }

